*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background: rgba(0, 0, 0, 0.77);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.clock {
  width: 350px;
  height: 350px;
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
}

.hand {
  width: 50%;
  height: 4px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transition: all 200ms cubic-bezier(0.15, 1.25, 0.35, 1.4);
}

.hand.hour-hand {
  width: 40%;
  height: 6px;
  transform-origin: 100%;
  left: 10%;
  z-index: 20;
}

.hand.minute-hand {
  width: 45%;
  height: 6px;
  transform-origin: 100%;
  left: 5%;
  z-index: 20;
}

.hand.second-hand {
  width: 48%;
  background: red;
  transform-origin: 100%;
  left: 2%;
  z-index: 999;
}

.center-dot {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  border: 0;
  border-radius: 50%;
  z-index: 999;
}

.inner-hour-hand {
  background: rgb(14, 212, 136);
  width: 20px;
  height: 6px;
  position: absolute;
  z-index: 50;
}

.inner-minute-hand {
  background: rgb(41, 169, 255);
  width: 26px;
  height: 6px;
  position: absolute;
  z-index: 50;
}

.hour-12 {
  width: 20px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  background: azure;
  transform: rotate(90deg);
  transform-origin: 0%;
}

.hour-9 {
  width: 20px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 2px;
  background: azure;
}

.hour-6 {
  width: 20px;
  height: 3px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  background: azure;
  transform: rotate(90deg);
  transform-origin: 0%;
}

.hour-3 {
  width: 20px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: 2px;
  background: azure;
}
